<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-info pull-right" {{action 'showTodoModal'}}>New Todo</button>
  </div>
</div>

<br />

<div class="row">
  {{#each model.todos as |todo|}}
    {{todo-view todo=todo}}
  {{/each}}
</div>

{{new-todo-modal
  todo=newTodo
  cancelNewTodo='cancelNewTodo'
  saveTodo='saveTodo'}}


